# https://docs.python.org/3/library/configparser.html#configparser.ExtendedInterpolation

[Repo]
framework: python3.7eve

[Link]
run.sh: eve-git2

[Executable]
run.sh

[venv]  # Needs to be WITHOUT spaces around '='
create=True
name=.env
main_file=eve_git.py
ld_lib=/expSW/SOFTWARE/var/LD_LIBRARIES

[Other]
# files =
#     run.sh
#     eve_git.py
#     this --> that